In [15]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Seed for reproducibility
np.random.seed(42)

# Generate synthetic data
data = pd.DataFrame({
    "customer_id": range(1, 101),
    "signup_date": [datetime(2022, random.randint(1, 12), random.randint(1, 28)) for _ in range(100)],
    "last_active_date": [
        datetime(2023, random.randint(1, 12), random.randint(1, 28)) if random.random() > 0.1 else None for _ in range(100)
    ],
    "total_spent": [round(np.random.normal(500, 100), 2) if random.random() > 0.05 else None for _ in range(100)],
    "monthly_plan": np.random.choice(["Basic", "Premium", "Family"], 100),
    "payment_method": np.random.choice(["Credit Card", "PayPal", None], 100, p=[0.4, 0.4, 0.2]),
    "churn": np.random.choice(["Yes", "No"], 100, p=[0.2, 0.8]),
    "engagement_score": [round(random.uniform(0, 100), 1) if random.random() > 0.1 else None for _ in range(100)]
})

# Save the dataset for the exercise
data.to_csv("customer_churn_dataset.csv", index=False)

In [17]:
data

,customer_id,signup_date,last_active_date,total_spent,monthly_plan,payment_method,churn,engagement_score
0,1,2022-05-19,2023-04-03,549.67,Family,Credit Card,No,41.7
1,2,2022-06-10,2023-12-26,486.17,Premium,None,No,3.6
2,3,2022-12-01,2023-01-16,564.77,Family,PayPal,No,99.5
3,4,2022-06-11,2023-08-09,652.30,Basic,Credit Card,No,9.8
4,5,2022-11-23,2023-09-12,476.58,Premium,Credit Card,No,67.2
...,...,...,...,...,...,...,...,...
95,96,2022-10-02,2023-12-24,467.23,Family,Credit Card,No,20.1
96,97,2022-05-19,2023-05-26,460.79,Premium,PayPal,No,94.1
97,98,2022-03-07,2023-10-01,353.65,Basic,Credit Card,No,32.2
98,99,2022-08-24,2023-05-12,529.61,Family,Credit Card,Yes,16.8
99,100,2022-02-09,2023-01-27,526.11,Basic,PayPal,No,65.9

In [19]:
import pandas as pd

# Charger la base de donnÃ©es
data = pd.read_csv("customer_churn_dataset.csv")

# Remplir les valeurs manquantes de `total_spent` avec la mÃ©diane
median_total_spent = data['total_spent'].median()
data['total_spent'].fillna(median_total_spent, inplace=True)

# Remplacer les valeurs manquantes de `payment_method` par "Inconnu"
data['payment_method'].fillna("Inconnu", inplace=True)

# Calculer la moyenne des `engagement_score` pour les clients qui n'ont pas rÃ©siliÃ©
mean_engagement_score_no_churn = data.loc[data['churn'] == "No", 'engagement_score'].mean()

# Imputer les valeurs manquantes de `engagement_score` avec cette moyenne
data['engagement_score'].fillna(mean_engagement_score_no_churn, inplace=True)

# VÃ©rification des valeurs manquantes aprÃ¨s traitement
print(data.isnull().sum())

customer_id         0
signup_date         0
last_active_date    6
total_spent         0
monthly_plan        0
payment_method      0
churn               0
engagement_score    0
dtype: int64

C:\Users\Inas\AppData\Local\Temp\ipykernel_14744\4259983372.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['total_spent'].fillna(median_total_spent, inplace=True)
C:\Users\Inas\AppData\Local\Temp\ipykernel_14744\4259983372.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['payment_method'].fillna("Inconnu", inplace=True)
C:\Users\Inas\AppData\Local\Temp\ipykernel_14744\4259983372.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['engagement_score'].fillna(mean_engagement_score_no_churn, inplace=True)

In [21]:
data

,customer_id,signup_date,last_active_date,total_spent,monthly_plan,payment_method,churn,engagement_score
0,1,2022-05-19,2023-04-03,549.67,Family,Credit Card,No,41.7
1,2,2022-06-10,2023-12-26,486.17,Premium,Inconnu,No,3.6
2,3,2022-12-01,2023-01-16,564.77,Family,PayPal,No,99.5
3,4,2022-06-11,2023-08-09,652.30,Basic,Credit Card,No,9.8
4,5,2022-11-23,2023-09-12,476.58,Premium,Credit Card,No,67.2
...,...,...,...,...,...,...,...,...
95,96,2022-10-02,2023-12-24,467.23,Family,Credit Card,No,20.1
96,97,2022-05-19,2023-05-26,460.79,Premium,PayPal,No,94.1
97,98,2022-03-07,2023-10-01,353.65,Basic,Credit Card,No,32.2
98,99,2022-08-24,2023-05-12,529.61,Family,Credit Card,Yes,16.8
99,100,2022-02-09,2023-01-27,526.11,Basic,PayPal,No,65.9

In [23]:
from datetime import datetime

# Convertir `signup_date` et `last_active_date` au format datetime
data['signup_date'] = pd.to_datetime(data['signup_date'], errors='coerce', format='%Y-%m-%d')
data['last_active_date'] = pd.to_datetime(data['last_active_date'], errors='coerce', format='%Y-%m-%d')

# VÃ©rifier le format des dates (elles seront au format AAAA-MM-JJ par dÃ©faut aprÃ¨s conversion)
print(data[['signup_date', 'last_active_date']].head())

# GÃ©rer les Ã©ventuelles erreurs de conversion
if data[['signup_date', 'last_active_date']].isnull().sum().sum() > 0:
    print("Certaines dates n'ont pas pu Ãªtre converties correctement.")

  signup_date last_active_date
0  2022-05-19       2023-04-03
1  2022-06-10       2023-12-26
2  2022-12-01       2023-01-16
3  2022-06-11       2023-08-09
4  2022-11-23       2023-09-12
Certaines dates n'ont pas pu Ãªtre converties correctement.

In [25]:
# Convertir `monthly_plan` en catÃ©gories numÃ©riques
data['monthly_plan'] = data['monthly_plan'].astype('category').cat.codes

# Convertir `churn` en binaire : 1 pour "Yes", 0 pour "No"
data['churn'] = data['churn'].apply(lambda x: 1 if x == "Yes" else 0)

# VÃ©rification des transformations
print(data[['monthly_plan', 'churn']].head())

   monthly_plan  churn
0             1      0
1             2      0
2             1      0
3             0      0
4             2      0

In [27]:
# Calcul des statistiques nÃ©cessaires
mean_total_spent = data['total_spent'].mean()
std_total_spent = data['total_spent'].std()
upper_limit = mean_total_spent + 3 * std_total_spent
lower_limit = mean_total_spent - 3 * std_total_spent

# Calcul du 95e centile
percentile_95 = data['total_spent'].quantile(0.95)

# Identifier les valeurs aberrantes
outliers = (data['total_spent'] > upper_limit) | (data['total_spent'] < lower_limit)

# Remplacer les valeurs aberrantes par le 95e centile
data.loc[outliers, 'total_spent'] = percentile_95

# VÃ©rification des changements
print(f"Nombre de valeurs aberrantes dÃ©tectÃ©es : {outliers.sum()}")
print(f"Valeur du 95e centile utilisÃ©e pour remplacement : {percentile_95}")

Nombre de valeurs aberrantes dÃ©tectÃ©es : 0
Valeur du 95e centile utilisÃ©e pour remplacement : 648.0155

In [29]:
from datetime import datetime

# DÃ©finir la date actuelle
current_date = datetime.now()

# Calculer `days_since_last_active`
data['days_since_last_active'] = (current_date - pd.to_datetime(data['last_active_date'])).dt.days

# Remplacer les valeurs nÃ©gatives ou NaT (clients inactifs) par NaN
data['days_since_last_active'] = data['days_since_last_active'].apply(lambda x: x if x >= 0 else None)

# VÃ©rification des nouvelles donnÃ©es
print(data[['last_active_date', 'days_since_last_active']].head())

  last_active_date  days_since_last_active
0       2023-04-03                   603.0
1       2023-12-26                   336.0
2       2023-01-16                   680.0
3       2023-08-09                   475.0
4       2023-09-12                   441.0

In [31]:
# Nom du fichier de sortie
output_file = "customer_churn_dataset_cleaned.csv"

# Sauvegarder les donnÃ©es nettoyÃ©es
data.to_csv(output_file, index=False)

print(f"Les donnÃ©es nettoyÃ©es ont Ã©tÃ© sauvegardÃ©es dans le fichier : {output_file}")

Les donnÃ©es nettoyÃ©es ont Ã©tÃ© sauvegardÃ©es dans le fichier : customer_churn_dataset_cleaned.csv